*/dist/
*/nbproject/
*/nbbuild/
*/.jacocoverage/*
*/build.xml
/AEXBanner/build/
/JSF/JSF31KochFractalFX - startup (tm 6)/nbbuild/
/JSF/JSF31KochFractalFX - startup (tm 6)/nbproject/private/
/JSF/JSF32_w14_klasvoorbeeld/nbproject/private/
/JSF/JSF32_w14_klasvoorbeeld/build/
/JSF/JSF32KochFractalFX Console - Week 12/nbproject/private/
/JSF/JSF32KochFractalFX Console - Week 12/build/
/JSF/JSF31KochFractalFX - Week 12/nbproject/private/
/JSF/JSF31KochFractalFX - Week 12/dist/
/JSF/JSF32KochFractalFX Console - Week 12/dist/
/JSF32KochFractalFX_Console_-_Week_14/build/

*.class